 {% extends "fruit_app/base.html" %}

{% block infos %}

<div class="info">
    <h1>Früchte 🍎🍊🍇 </h1>

    Früchte sind kleine Wunderwerke der Natur – bunt, vielfältig und vollgepackt mit Vitaminen, Mineralstoffen und natürlicher Energie. 
    Ob knackiger Apfel, saftige Orange oder süsse Beeren – sie liefern nicht nur Genuss, sondern stärken auch das Immunsystem und unterstützen Körper und Geist. 
    Jede Frucht erzählt ihre eigene Geschichte: vom warmen Sonnenlicht, das sie reifen lässt, bis zum erfrischenden Geschmack, der uns an Sommer und Lebenskraft erinnert. 
    Ein Stück Natur – frisch, farbenfroh und gesund. 
</div>
            
{% endblock %}